.option{
    border: black 3px solid;
    margin:auto;
    border-radius: 5px;
    margin:10px;
    text-align: center;
    padding: 5px;
}
.menu{
    margin:10px;
    border-right-width: 2px;
    border-right-style: solid;
}
