*{
    color:#2f2519;
}
.menu *{
    border-color: #ed9b40;
}
.menu{
    border-color: #ba3b46;
}
.progressbar{
    border-color: #ba3b46;
}
input,textarea{
    border-color: #ba3b46;
}
.importExport div{
    border-color: #ba3b46;
}
body{
    background-color: #ffeedb;
}
.divider{
    border-left-color: #ba3b46;
}

ul {
    list-style: none;
  }

.circle{
    background-color: #ba3b46;
    border-color: #ba3b46;
}
